* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}

.wrapper {
  border: 1px dashed #666;
  padding: 5em;
  height: 100vh;
}

.wrapper div {
  background: #eee;
  border: 3px solid #666;
  text-align: center;
  padding: 1em;
  margin-right: 3px;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
}

.flex-item {
  /* sirina flex elementa ukoliko ih slazemo po retku (row)
      odnosno visina ukoliko ih slazemo po stupcu (column) */
  flex-basis: 18vw;
  height: 100%;
  font-size: 60px;
}
