* {
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 10vh;
  background-color: aquamarine;
  padding: 20px;
}

main {
  display: flex;
  height: 80vh;
  margin: 1%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70vw;
  background-color: bisque;
  padding: 10px;
}

aside {
  width: 30vw;
  background-color: rgb(186, 221, 151);
  margin-left: 1%;
  padding: 20px;
}

section article {
  background-color: darkorchid;
  flex-basis: 23%;
  width: 48%;
  margin-bottom: 1%;
  padding: 20px;
}

footer {
  height: 10vh;
  background-color: pink;
  padding: 20px;
}
