* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
}

.wrapper {
  border: 1px dashed #666;
  padding: 1em;
  min-height: 100vh;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  text-align: center;
  padding: 1em;
  margin: 1em;
  width: 20vw;
}

.flex-container {
  display: flex;
}

.flex-item {
  /* flex-grow: 0 --- default vrijednost */
  /* flex-grow: 1; */
  /* flex-shrink: 1 --- default vrijednost */
  /* flex-shrink: 1; */
}

.flex-item:nth-child(2) {
  /* flex-grow: 3; */
  /* 5x brze se smanjuje od ostalih elemenata */
  /*  flex-grow: 1;
  flex-basis: 10%; */
  flex: 1 1 400px;
}
