body {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

section p {
  color: blue;
}

footer section h1 {
  color: brown;
}

/* Utjecemo na p elemente kojima
 je section prvi parent */
section > p {
  text-decoration: line-through solid red;
}

/* Uzimamo p element koji dolazi nakon h1 elementa */
h1 + p {
  color: chartreuse;
}
