$red: #834;
$pozadinaArticle : #eee;

body {
    color: $red;
}

header {
    text-align: center;
    p {
        font-size: 18px;
    }
    h1 {
        color: aqua;
    }
    a {
        color: chocolate;
    }
}

section {
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    p {
        text-align: justify;
    }
    a {
        color: $red;
    }
    
    article {
        background-color: $red;
        p {
            color: #eee;
        }
        a {
            color: $pozadinaArticle;
        }
    }
}

footer {
    text-align: center;
    h1 {
        text-align: end;
    }
    p {
        text-align: start;
        color: $pozadinaArticle;
        background-color: $red;
    }
    a {
        
        text-decoration: none;
        color: #834;
        &:hover {
            color: rgb(51, 223, 88);
        }
    }
    
    
}