li {
  width: 33%;
  padding: 10px 15px;
  margin-bottom: 5px;
  border-radius: 25px;
}

li[data-type="Drinks"] {
  background-color: rgba(190, 135, 31, 0.603);
}

li[data-type="Bakery"] {
  background-color: rgba(245, 119, 16, 0.959);
}

li[data-type="Canned Foods"] {
  background-color: rgba(73, 12, 28, 0.596);
}

li[data-type="Dairy"] {
  background-color: rgb(29, 243, 197);
}

li[data-type="Frozen"] {
  background-color: rgba(24, 76, 136, 0.658);
}

li[data-type="Meats"] {
  background-color: rgba(179, 49, 10, 0.658);
}

li[data-type="Other"] {
  background-color: rgba(17, 136, 130, 0.685);
}
